MONGODB_URI=
MONGODB_DB_NAME=treatryte

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=
CLOUDFRONT_DOMAIN=
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_PRIVATE_KEY_PATH=

PORT=4000
NODE_ENV=development

JWT_ACCESS_SECRET=

VAULT_QUOTA_BYTES=8589934592

# Nomba (https://developer.nomba.com)
NOMBA_ENV=sandbox
NOMBA_ACCOUNT_ID=
NOMBA_SUB_ACCOUNT_ID=

NOMBA_TEST_CLIENT_ID=
NOMBA_TEST_CLIENT_SECRET=

NOMBA_LIVE_CLIENT_ID=
NOMBA_LIVE_CLIENT_SECRET=

NOMBA_WEBHOOK_SECRET=
